.bg-dark{
    /* background-color: yellow !important; */
}

html, body{
    margin: 0;
    padding: 0;
}

.main-nav{
    background-image: url(img/dark-blue-grad.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.breadcrumb{
    background-color:#E2EFFD !important ;
    margin: 0 !important;
    padding: 15px;
    font-size: 18px;
}


.jumbotron{
    background-image: url(img/hero2.jpg) !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;

}

.jumbotron p{
    color: white;
}

.jumbotron h1{ 
    color: white;
}

/* ===== slider ===== */

.d-block {
    height: 550px;
}

/* ========== fix buttons ========= */
.fix-btn{
    display: inline-block;
    z-index: 99;
    background-color: transparent;
}

/* our services */

.service-heading{
    text-align: center;
}
#service-heading{
    text-align: center;

}

/* about */

#about-section{
    text-align: center;
    line-height: 0.7cm;
    background-image: url(img/hero\ img.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#about-section p{
    font-size: larger;
    font-weight: 500;
}

/* ===== footer ===== */
.footer{
    /* background-color: #091834; */
    background-image: url(img/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 20px;
    margin-top: -20px;
    color: white;
}

/* ==================== contact page ================ */

.contact-section{
    height: 80vh;
    width: 100%;
    overflow:auto;
    background-image: url(img/sky-blue-grad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* .contact-box{
    display: flex !important;
    flex-wrap: wrap !important ;
    
} */

.map{
    width: 40vw;
    height: 45vh;

}

